@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Light';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Light.woff') format('woff'),
    url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
    border: none;
}

body {
    background-color: #f7f9fc;
}
header {
    width: 100%;
    background-color: #2d2d44;
    height: 64px;
}
.header {
    background-color: #2d2d44;
    width: 1440px;
    margin: 0 auto;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.header__title {
    font-family: SF Pro Display Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    padding: 14px 120px;
}
.card {
    margin-left: 120px;
    padding-top: 32px;
    background-color: #fff;
    width: 384px;
    height: 560px;
    position: absolute;
    box-shadow: 0px 1px 2px rgba(22, 34, 70, 0.08);
}
.man_img {
    margin-left: 32px;
    margin-right: 16px;
}
.card_title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-right: 8px;
}
.executor {
    margin-bottom: 32px;
}
.executor__text {
    font-family: 'SF Pro Display Light';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #999999;
    width: 350px;
    margin-left: 16px;
}
.card_style {
    width: 320px;
    border: 1px solid #EAEEF4;
}
.feedback__title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #999999;
    margin-top: 32px;
    margin-bottom: 16px;
}
.socials {
    @include flexRow();
    margin-bottom: 32px;
}
.socials_bg {
    background: #0066FF;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    @include flexRow();
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
.guarantee_img {
    margin-top: -11px;
    margin-left: 23px;
    margin-right: 23px;
}
.guarantee__title {
    margin-top: 59px;
}
.guarantee__text {
    font-family: SF Pro Display Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #999999;
    margin-bottom: 16px;
}
.guarantee_link {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #0066FF;
    text-decoration: none;
}
.content {
    margin-left: 528px;
    padding-top: 16px;
}
.crumbs__link {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #999999;
}
.crumbs_style {
    color: #0066ff;
}
.service {
    margin-top: 16px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(22, 34, 70, 0.08);
    width: 792px;
    height: 535px;
}
.service__title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.service__subtitle {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #999999;
    margin-left: 32px;
    margin-bottom: 8px;
}
.service__text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #333333;
    margin-left: 32px;
    margin-bottom: 32px;
    width: 696px;
}
.service__style {
    border: 1px solid #EAEEF4;
    width: 728px;
    margin-bottom: 24px;
}
.vital-info {
    @include flexRow();
    justify-content: start;
}
.term {
    margin-left: 32px;
}
.price {
    margin-left: 85px;
}
.vital-info_text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #999999;
}
.vital-info_title {
    font-family: SF Pro Display Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.vital-info__order {
    margin-left: 205px;
    width: 165px;
    height: 48px;
    background: #0066FF;
    border-radius: 4px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.review-header {
    @include flexRow();
    align-items: center;
    justify-content: start;
    margin-top: 44px;
    margin-bottom: 16px;
}
.review-header__title {
    font-family: SF Pro Display Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
}
.review-header__link {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.44px;
    color: #0066FF;
    margin-left: 570px;
    text-decoration: none;
}
.review-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(22, 34, 70, 0.08);
    border-radius: 4px;
    width: 792px;
    height: 236px;
    position: relative;
    margin-bottom: 24px;
}
.review-card__img {
    position: absolute;
    margin: 16px 16px;
}
.review-card__header {
    position: absolute;
    margin-top: 23px;
    margin-left: 80px;
    @include flexRow();
    align-items: center;
}
.review-card__by {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #242424;
}
.review-card__date {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #999999;
    margin-left: 435px;
}
.review-card__style {
    position: absolute;
    margin-top: 56px;
    margin-left: 80px;
    opacity: 0.1;
    border: 1px solid #000000;
    width: 688px;
}
.review-card__style__special {
    width: 578px;
}
.review-card__text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #333333;
    position: absolute;
    margin-top: 72px;
    margin-left: 80px;
    width: 672px;
}
.review-card__text__special {
    width: 578px;
}
.review-card__special {
    margin-left: 102px;
    width: 690px;
}
.review-card__date__special {
    margin-left: 300px !important;
}
footer {
    width: 100%;
    background-color: #2d2d44;
    height: 64px;
}
.footer {
    width: 1440px;
    margin: 0 auto;
    background-color: #2d2d44;
    @include flexRow();
    align-items: center;
    justify-content: start; 
}
.footer__title {
    font-family: SF Pro Display Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 14px 120px;
}
.footer__copy {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 36px;
    color: #F7F9FC;
    margin-left: 486px;
}

@media (max-width: 415px) {
    .header {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .header__title {
        padding-left: 0px;
        padding-right: 0px;
    }
    .card {
        width: 100%;
        position: relative;
        margin: 0;
        padding-top: 20px;
    }
    .man_img {
        margin-left: 10px;
    }
    .card_title {
        font-size: 16px;
    }
    .executor__text {
         width: 90%;
    }
    .guarantee_img {
        margin-left: 5px;
    }
    .content {
        margin: 10px 0px 0px 0px;
        padding: 0;
    }
    .crumbs {
        text-align: center;
    }
    .service {
        height: 680px;
    }
    .service__style {
        width: 100%;
    }
    .service, .service_img {
        width: 100%;
    }
    .service__text {
        width: 320px;
    }
    .vital-info {
        flex-direction: column;
        align-items: center;
    }
    .term {
        margin: 0;
        text-align: center;
    }
    .price, .vital-info__order {
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }
    .review-header {
        flex-direction: column;
    }
    .review-header__link, .review-card__date, .review-card__date__special, .review-card__special {
        margin: 0 !important;
    }
    .review-card, .review-card__text {
        width: 90%;
    }
    .review-card__text {
        margin-left: 20px;
    }
    .review-card {
        margin-bottom: 60px !important;
        height: 375px;
        width: 100%;
    }
    .review-card__special {
        height: 350px;
    }
    .review-card__style, .review-card__style__special {
        width: 70%;
    }
    .review-card__date, .review-card__date__special {
        display: none;
    }
    .footer {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .footer__copy {
        margin: 0;
        width: 280px;
    }
    .footer__title {
        padding: 0;
    }
}
@media (max-width: 320px) {
    .review-card {
        height: 420px;
    }
}